* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;

}

header {
   padding: 30px 15px;
}

.header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
}



.divider {
   display: block;
}

.koon-modal {
   display: block;
}

.join-btn {
   background: none;
   color: #000;
   padding: 14px;
   border: 1px solid #3b42c4;
   border-radius: 30px;
   text-transform: uppercase;
   font-size: 20px;
}

.join-btn:hover {
   background-color: #3b42c4;
   transition: 0.3s;
   color: #fff;
}

.modal-header {
   border-bottom: none;
}

.title-wrapp {
   padding: 100px 0;
}

.title-wrapp h1 {
   font-size: 48px;
   letter-spacing: 4px;
}

.text-down {
   display: block;
}

.hobby-list a {
   text-decoration: none;
   border: 1px solid rgb(139, 139, 221);
   color: black;
   padding: 16px;
   border-radius: 30px;
   font-size: 20px;
}



.pop-tags:hover {
   background-color: #243f93;
   color: white;
   transition: 0.3s;
}






.hobby-list {
   display: flex;
   gap: 40px;
   justify-content: center;
   padding: 80px;
}

.choose-your-plan {
   padding: 80px 0 75px;
   background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}

.plan-spacing {
   display: flex;
   flex-direction: column;
   /* justify-content: space-between;
   align-items: center; */
   border: 2px solid #DDDDDD;
   border-radius: 10px;
   background-color: #fff;

}

.plan-spacing:hover {
   border: 2px solid #243F93;
   transition: 0.3s;
}


.description {
   text-align: left;
   padding: 0 10px;
}



.title-center {
   text-align: center;
   margin: 0 auto;
   padding-bottom: 60px;
}

.box-img {
   padding: 9px 0 0;
}

.description h2 {
   font-weight: 400;
   line-height: 30px;
   font-size: 28px;
   padding: 30px 0 20px 8px;
   margin-bottom: 0;
}

.plan-name p {
   font-weight: 300;
   line-height: 24px;
   font-size: 20px;
}





.select {
   font-weight: 700;
   line-height: 18.96px;
   
   color: rgb(248, 244, 244);
   /* border: 2px solid blue; */
   padding: 16px 16px;
   border-radius: 50px;
   text-decoration: none;
   /* margin: 0 0 50px; */
}

.select:hover {
   color: black;
   background-color: white;
   transition: 0.4s;

}

.price-select {
   display: flex;
   justify-content: right;
   gap: 20px;
   padding: 20px;
}

.price-select a {
   background-color: #243F93;
   font-family: 'Rubik', sans-serif;

}

.joinus-btn{
   text-align: center;
   padding: 50px 0;
  
}
.joinus-btn button{
   padding: 16px 16px;
   border-radius: 30px;
   background-color: #fff;
   border: 1px solid #243f93;
}

.btn-joinus:hover{
   background-color: #243f93;
   color: white;
   transition: 0.6s;
}







.lable-title-email {
   margin-right: 40px;
}

.lable-title-nicname {
   margin-right: 165px;
}

.lable-title-password {
   margin-right: 90px;
}

.label-font {
   font-weight: 400;
   font-size: 30px;
   line-height: 40px;
   color: #000000;
}

.modal-footer {
   border-top: none;
}

.footer-text-wrapper {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
}

.font {
   font-family: 'Baloo Bhai 2', cursive;
}

.lable-title-name {
   margin-right: 100px;
}

.carousel {
   width: 100%;
}



.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;

}

.swiper-wrapper {
   height: 100%;

}

.wraper-flex {
   display: flex;
   flex-wrap: wrap;
}

.slide-nuv {
   height: 100%;
   background-color: black;
   color: #fff;
   width: 19% !important;

   padding: 20px 10px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
   margin-right: 5px !important;
}

.slide-nuv:hover {
   background-color: black;

}

.slide-nuv:hover .slide-span {
   margin-top: 0;

}

.slide-nuv:hover .slide-span2 {
   margin-top: -90px;

}

.slide-span {

   position: absolute;
   margin-top: 90px;
   z-index: 1;
   text-align: center;
   transition: 0.6s;

}

.slide-span2 {

   position: absolute;
   margin-top: 0px;
   z-index: 1;
   text-align: center;
   transition: 0.6s;
}

.mySwiper2 {
   width: 100%;
   height: 700px;
}


.mySwiper {
   height: 30%;
   box-sizing: border-box;
   margin-bottom: 10px;
   width: 100%;
}


.mySwiper .swiper-slide {
   opacity: 0.7;
}


.swiper-slide {
   background-position: center;

}

.swiper-slide:hover {
   opacity: 10;
   transition: 0.6s;

}


.mySwiper .swiper-slide-thumb-active {
   opacity: 1;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15;

}

.col-4 {
   padding: 0 15px;
   width: 33.33%;
}

.box img {
   width: 100%;
}

.more {
   padding: 10px 80px;
   background-color: black;
   color: #fff;
   text-decoration: none;
   border-radius: 10px;
   position: relative;
   height: 50px;
   text-align: center;
}

.wrap-more-btn {
   height: 100px;
   width: 100%;
   padding: 10px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.span1 {
   position: absolute;
   margin-top: 40px;
   z-index: 1;
   text-align: center;
   margin-left: -16px;
   transition: 0.3s;
}

.span2 {
   position: absolute;
   margin-top: 0px;
   z-index: 1;
   margin-left: -16px;
   transition: 0.3s;

}

.more:hover .span1 {
   margin-left: -16px;
   margin-top: 0px;
   transition: 0.3s;
}

.more:hover .span2 {
   margin-left: -16px;
   margin-top: -30px;
   transition: 0.3s;

}

.build2 {
   padding: 50px 0;
}

.input button {
   background-color: transparent;
   border: transparent;
}

.input button svg:hover {
   fill: black;
}

.search {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.btn-search-wraper {
   display: flex;
   gap: 10px;
}

.search-btn {
   background-color: #fff;
   color: #243f93;
   border: 1px solid #243f93;
   overflow: hidden;
   border-radius: 30px;
}

.search-btn:hover {
   background-color: #243f93;
   color: #fff;
   transition: 0.05s;
}

.btn2 {
   background-color: #243f93;
   color: #fff;
   border: 1px solid #243f93;
   overflow: hidden;
   border-radius: 30px;
}

.btn2:hover {
   background-color: #243f93;
   color: #fff;
   transition: 0.05s;
}

.col-3 {
   width: 25%;
   padding: 0 15px;
}

.explore {
   display: flex;
   justify-content: space-between;
   padding: 20px 15px;
}

.explore a {
   text-decoration: none;
}

.explore a:hover {
   text-decoration: underline;
}

.box {
   width: 100%;
}

.wrap-contant {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.btn-corner {
   position: absolute;
   top: 10px;
   left: 10px;
   border: none;
   border-radius: 5px;
   padding: 3px;
   color: gray;
}

.btn-corner:hover {
   background-color: black;
   color: #fff;
   transition: 0.6s;
}

.data {
   color: rgb(105, 80, 47);
   font-size: 25px;
   margin: 0;
}

/* @media(max-width:1024px) {
   .container {
      max-width: 920px;
   }

   .col-4 {
      width: 50%;
   }

   .mySwiper2 {

      height: 100%;
   }

   .box img {
      object-fit: cover;
      background-size: cover;
   }
} */

.search input {
   padding: 5px 0 5px 5px;
   border: none;
   width: 100%;
}

.input {
   border: 1px grey solid;
   padding-right: 5px;
   width: 50%;
   display: flex;
   justify-content: space-between;

   /* border-radius: 30px; */


}

.search input:focus {
   border: none;
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}

.select {
   padding: 15px;
   border: 2px solid #3b42c4;
   border-radius: 30px;
   background-color: unset;
}

.section-comment {
   background-color: black;
   padding: 60px 0;
}

.section-comment .container {
   max-width: 1000px;
}

.comments h6 {
   color: #fff;
}

.comments-revers h6 {
   color: #fff;
}

.comments {
   display: flex;
   margin-bottom: 20px;
   border-radius: 15px;
   padding: 10px 10px;
   gap: 10px;
}

.comments-revers {
   display: flex;
   margin-bottom: 20px;
   border-radius: 15px;
   padding: 10px 10px;
   gap: 10px;
}

.comment-bones {
   border: 1px solid #3e64d9;
   padding: 20px;
   border-radius: 0px 2px 2px 2px;
   position: relative;
   background-color: #3e64d9;
   color: #fff;
}

.comment-bones::before {
   content: " ";
   position: absolute;
   display: block;
   width: 21px;
   height: 21px;
   pointer-events: none;
   clip-path: polygon(0 0, 100% 0, 100% 100%);
   background-color: #3e64d9;
   left: -17px;
   top: -1.5px;
}

.comment-bones-revers {
   border: 1px solid #3e64d9;
   padding: 20px;
   position: relative;
   background-color: #3e64d9;
   color: #fff;
   border-radius: 2px 0px 2px 2px;
}

.comment-bones-revers::before {
   content: " ";
   position: absolute;
   display: block;
   width: 21px;
   height: 21px;
   pointer-events: none;
   clip-path: polygon(100% 0, 0 0, 0 100%);
   background-color: #3e64d9;
   right: -17px;
   top: -1.5px;
}

.comment-img {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

textarea.form-control {
   min-height: 150px;

}

footer{
   background-color: black;
   padding: 0 20px;
}

.footer-wrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px;
}

.footer-wrap a{
   color: white;
   font-family: rubik;
   text-decoration: none;
   font-size: 20px;
   font-weight: 300;
}

.privacy{
   display: flex;
   gap: 60px;
}

.about:hover{
   color: aquamarine;
   transition: 0.6s;
}

.security:hover{
   color: aquamarine;
   transition: 0.6s;
}
.terms:hover{
   color: aquamarine;
   transition: 0.6s;
}

.id:hover{
   transition: 0.6s;
}

option svg {
   background-color: #000000;

}

.buttons {
   display: flex;
   align-items: center;
   gap: 30px;
}

.buttons select {
   background-color: unset;
   padding: 16px;
   border-radius: 30px;
   border:1px solid #3b42c4;

}

 .box img{
    width: 100%;
 }

.more{
    padding: 16px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #243f93;
}
.wrap-more-btn{
   display: flex;
   align-items: center;
   justify-content: end;  
}


.more:hover {
    transition: 0.3s;
    background-color: #243f93;
    color: #fff;

}

.build2{
   padding: 50px 0;
}
.input button{
   background-color: transparent;
   border: transparent;
   margin-right: 20px;
}
.input button svg:hover{
   fill: black;
}
.search{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.re-btn {
   display: flex;
}
.search h2{
   padding-right: 100px;
   text-transform: uppercase;
   font-size: 48px;
   font-weight: 500;
   line-height: 57px;
}

.group-text {
   display: flex;
   justify-content: center;
}
.btn-search-wraper{
   display: flex;
   gap: 20px;
   padding: 40px 0 160px; 
}
.search-btn{
   background-color: #fff;
   color: #243f93;
   border: 2px solid #243f93;
   overflow: hidden;
   border-radius: 30px;
   padding: 16px;
   text-decoration: none;
}
.search-btn:hover{
   background-color: #243f93;
   color: #fff;
   transition: 0.05s;
}
.btn2{
   background-color: #243f93;
   color: #fff;
   border: 1px solid #243f93;
   overflow: hidden;
   border-radius: 30px;
   padding: 16px;
}
.btn2:hover{
   background-color: #243f93;
   color: #fff;
   transition: 0.05s;
}
.col-3{
   width: 25%;
   padding: 0 15px;
}

.build3 {
   padding: 80px 0 160px;
}

.explore{
   padding: 20px 15px;
}

.explore h3 {
   font-size: 48px;
   font-weight: 500;
   line-height: 57px;
}
.explore a{
   text-decoration: none;
}
.explore a:hover{
   text-decoration: underline;
}

.box img {
   /* max-width: 280px; */
   height: 250px;
   object-fit: cover;
   border-radius: 15px;
}
.wrap-contant{
   position: relative;
   display: flex;
   flex-direction: column;
   gap:7px;
}

.wrap-contant h3 {
   font-size: 28px;
   font-weight: 500;
   line-height: 33px;
}


.btn-corner{
   position: absolute;
   top: 10px;
   left: 10px;
   border: none;
   border-radius: 10px;
   padding: 10px;
   background-color: #243F93;
}

.btn-corner-1{
   position: absolute;
   top: 10px;
   left: 10px;
   border: none;
   border-radius: 10px;
   padding: 10px;
   background-color: #C2C0C0;
}

.data{
   color: #525252;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
}
 @media(max-width:1024px){
    .container{
        max-width: 920px;
    }
    .col-4{
        width: 50%;
    }
    .mySwiper2 {
        
        height:100%;
     }
     .box img{
        object-fit: cover;
        background-size: cover;
     }
 }

.search input{
   padding: 5px 0 5px 5px;
   border: none;
   width: 100%;
   margin-left: 23px;
   font-size: 28px;
   font-weight: 400;
   line-height: 32px;
}

.input {
   border: 1px grey solid;
   padding-right: 5px;
   display: flex;
   justify-content: space-between;
   border-radius: 30px;
   margin-top: 60px;
}

.search input:focus {
   border: none;
}

.section-comment {
   background-color: #ECF3ED;
   padding: 60px 0;
}

.section-comment h1 {
   font-weight: 400;
   font-size: 48px;
   line-height: 57px;
   text-transform: uppercase;
   padding-bottom: 60px;
}

.section-comment .container{
   max-width: 1000px;
}


.comments {
   display: flex;
   margin-bottom: 20px;
   border-radius: 15px;
   padding: 10px 10px; 
   gap: 15px;
   align-items: flex-end;
}

.comment-bones p {
   margin: 0;
}

.comment-bones {
   border: 2px solid #3e64d9;
   padding: 15px;
   border-radius: 20px 20px 20px 0px;
   position: relative;
   background-color: #3e64d9;
   color: #fff;
}
.comment-bones::before {
   content: " ";
   position: absolute;
   display: block;
   width: 20px;
   height: 30px;
   pointer-events: none;
   clip-path: polygon(60% 83%, 81% 70%, 100% 47%, 100% 100%, 0 100%, 32% 92%);
   background-color: #3e64d9;
   left: -17px;
   bottom: -2.5px;
}


.comment-img img{
   width: 80px;
}

textarea.form-control {
   min-height: 150px;
   border-radius: 20px;
}

.send-select {
   margin-top: 20px;
   display: flex;
   justify-content: end;
}
.send-select button {
   padding: 12px 16px;
   border: 2px solid #3e64d9;
   border-radius: 30px;
   color: #3b42c4;
}

.send-select button:hover{
   background-color: #3b42c4;
   color: #fff;
   transition: 0.3s;
}



footer {
   background-color: black;
   padding: 0 20px;
}

.footer-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px;
}

.footer-wrap a {
   color: white;
   text-decoration: none;
   font-size: 20px;
   font-weight: 300;
}

.privacy {
   display: flex;
   gap: 60px;
}